body{
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    flex-direction: column;
}   
form{
    margin:0 auto;
    padding:10px;
    justify-content: center;
}
.input-group{
    margin-top:10px;
    margin-bottom: 10px;
    display:flex;
    justify-content:center ;
    flex-wrap:wrap;
}
label{
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
    color: #0f3970;
}
input{
    border: none;
    border-radius: 10px;
    text-align: center;
}
label, input{
    flex-basis:100px;
    
}
table{
    justify-content: center;
    text-align: center;
    margin: auto;
}
button{
    border: none;
    border-radius: 10px;
    background-color: #016ff9;
    color: #c2d1e4;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px 0;
    transition: background-color 200ms ease-in-out;
}
button:hover,button:focus{
    background-color: #e1f1ff;
    color: #016ff9;
}

button.is-featured{
    background-color: #48aaff;
    color: white;
}

button.is-featured:hover,button.is-featured:focus{
    background-color: #269aff;
}
table{
    border-collapse: collapse;
    margin-bottom: 5em;
}
tr, th , td{
    border: 5px solid #002552;
}